* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

// Variables (colors mainly)

:root {
    --color-primary: #fce5cd;
    --color-secondary: #9d6917;
    --color-palette-1: #4e3c2a;
    --color-palette-2: #9b7a59;
    --color-palette-3: #c69c72;
    --color-palette-4: #fbf4e8;
    --color-bg-progress-bar: #f9cb9c;
    --color-black: #000;
    --color-white: #fff;
    --color-grey: #bcbcbc;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-buttons-sections: #5d3e0d;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
    --main-transition: all .4s ease-in-out;
    --btn-transition: all .4s ease-out;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: var(--color-primary);
    font-size: 1.1rem;
    color: var(--color-black);
    transition: var(--main-transition);
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    height: 100vh;
    color: var(--color-black);
    overflow: hidden;
}

// Sections

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section {
    transform: translateY(-100%);
    transition: var(--main-transition);
    background-color: var(--color-primary);
}
.name {
    color: var(--color-palette-1);
}

.sec1 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec2 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec3 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec4 {
    display: none;
    transform: translateY(0) scale(1);
}

.active {
    display: block;
    animation: activeAnim 1s ease-in-out;
    @keyframes activeAnim {
        0% {
            transform: translateX(-100%) scaleX(0);
        }
        100% {
            transform: translateX(0) scaleX(1);
        }
    }
}

// Controls

.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .active-btn {
        background-color: var(--color-secondary) !important;
        transition: var(--main-transition);
        i {
            color: var(--color-white) !important;
        }
    }
    .control {
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-buttons-sections);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1);
        i {
            font-size: 1.2rem;
            color: var(--color-grey);
            pointer-events: none;
        }
    }
}

//Página inicial
.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Dos columnas: foto y texto
    height: 100%;
    .left-header {
        display: flex;
        align-items: center;
        position: relative;
        .h-shape{
            transition: var(--main-transition);
            width: 65%;
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            clip-path: polygon(0 0, 90% 0, 69% 100%, 0% 100%);
        }
        .image {
            border-radius: var(--br-sm-2);
            height: 90%;
            width: 68%;
            margin-left: 4rem;
            background-color: var(--color-black);
            transition: var(--main-transition);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: var(--main-transition);
                filter: grayscale(100%);
                &:hover{ // Cuando se pasa el ratón por encima, la imagen se ve a color
                    filter: grayscale(0);
                }
            }
        }
    }
    .right-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 18rem;
        .name{
            font-size: 3rem;
            span{
                color: var(--color-secondary);
            }
        }
        p{
            margin: 1.5rem 0;
            line-height: 2rem;
        }
    }
}

//ABOUT
.about-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    .right-about {
        display: grid;
        gap: 2rem;
        .about-item {
            border: 1px solid var(--color-grey);
            border-radius: 5px;
            transition: var(--main-transition);
            box-shadow: 1px 2px 15px var(--color-black);
            &:hover{
                cursor: default;
                transform: translateY(-5px);
                border: 1px solid var(--color-secondary);
            }
            .abt-text{
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                .large-text {
                    font-size: 3rem;
                    font-weight: 700;
                    color: var(--color-secondary);
                }
                .small-text {
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color: var(--color-grey-4);
                    letter-spacing: 2px;
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 15px;
                        width: 2rem;
                        height: 2px;
                        background-color: var(--color-palette-3);
                    }
                }
            }
        }
    }
    .left-about {
        padding-right: 5rem;
        p {
            line-height: 2rem;
            padding: 1rem;
            color: var(--color-grey-4);
        }
        h4 {
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}
.about-stats {
    padding-bottom: 4rem;
    .progress-bars {     
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        .progress-bar {
            display: flex;
            flex-direction: column;
            .progress-b-title {
                text-transform: uppercase;
                font-weight: 500;
            }
            .progress-cont {
                display: flex;
                align-items: center;
                .progress-b-text {
                    color: var(--color-grey-4);
                }
            }
            .progress {
                width: 100%;
                height: .45rem;
                background-color: var(--color-bg-progress-bar);
                margin-left: 1rem;
                position: relative;
                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background-color: var(--color-secondary);
                    transition: var(--main-transition);
                    width: 60%;
                }
                .python{ width: 95%; }
                .odoo { width: 80%; }
                .java { width: 90%; }
                .sql{ width: 85%; }
                .html { width: 75%; }
                .js{ width: 70%; }
                .css{ width: 70%; }
            }
        }
    }
}

//Estilo de otros componentes (botones)
.btn-con{
    display: flex;
    align-self: flex-start;
}
.main-btn{
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
    .btn-text{
        padding: 0 2rem;
    }
    .btn-icon{
        background-color: var(--color-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: var(--btn-transition);
        z-index: -1;
    }
    &:hover{
        transition: var(--btn-transition);
        &::before{
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            transform: translateX(0);
            transition: var(--btn-transition);
        }
    }
}

//Estilo del título (secciones)
.main-title {
    text-align: center;
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        span{
            color: var(--color-secondary);
        }
    }
}